<%- include ('header.ejs') %>


<section style="margin-top: 7%; padding-bottom: 7%;">
  
  <div class="page-banner">
    <div class="banner-section">
      <div class="container wow fadeInUp">
        <h1 class="myAlign">About Us</h1>
      </div>
    </div> 
  </div> 

  <div class="page-section mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 wow fadeInUp">
          <h1 class="text-center mb-5">Innovations are what TempName loves Creating!!!</h1>
          <div class="text-lg">
            <p>TempName provides more than 50 group tour products for Europe, almost 50 products for South East Asia, exclusive special tours for ladies, students, senior citizens, and trips to exotic destinations for newlyweds. Besides, we follow a continuous research for new products, themes and a range of travel upgradations that helps us serve the best to our guests.
                <hr style="border: none;">
              Whether it's a corporate tour, romantic delight, adventurous junkies or just a Chota Break , we have ample of tour choices to suit the most of your taste, requirement and budget. So Hurry up and book a Holiday with TempName!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('footer.ejs') %>