<%- include('header.ejs') %>

    <!-- main Heading -->

    <section id="headID">
        <div class="headClass myCenter">
            <div class="container">
                <div class="row myAlign">
                    <div class="col-lg-12 col-md-12 col-sm-12 myCenter marginHead">
                        <div class="data myAlign">
                            <h1 style="font-size: 60px; color: white;" class="wow zoomIn head-data">Travel 
                                <span style="color: rgb(255, 217, 0);">Hunts</span> </h1>
                            <p class="headPara paratxt wow fadeInLeft">Best place for searching tour packages.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>



    <!-- package section -->

    <section id="packageID">
        <div class="package-class myCenter">
            <div class="container">

                <div class="data myAlign wow zoomIn">
                    <h1 class="titleClass"><span style="color: rgb(255, 217, 0);">Explore</span> Packages</h1>
                    <p style="font-size: large;">choose packages according to your budget</p>
                </div>

                <div class="row pack wow fadeInUp">

                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign ">
                            <a href="/historicalPackages">
                                <img class="widthadj" src="assets/img/hist.jpg" width="300px" height="190px">
                            </a>
                            <a class="btn" href="/historicalPackages">Historical Packages</a>
                        </div>
                    </div>

                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign">
                            <a href="/districtPackages">
                                <img class="widthadj" href="/districtPackages" src="assets/img/dist.jpg" width="300px">
                            </a>
                            <a class="btn" href="/districtPackages">District Packages</a>
                        </div>
                    </div>

                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign">
                            <a href="/devotionalPackages">
                                <img class="widthadj" src="assets/img/devotional.jpg" width="300px" height="190px">
                            </a>
                            <a class="btn" href="/devotionalPackages">Devotional Packages</a>

                        </div>
                    </div>

                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign">
                            <a href="/wildlifePackages">
                                <img class="widthadj" src="assets/img/tiger.jpg" width="300px">
                            </a>
                            <a class="btn" href="/wildlifePackages">Wildlife Packages</a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="img-class myAlign">
                            <a href="/naturePackages">
                                <img class="widthadj" src="assets/img/nature.jpg" width="300px">
                            </a>
                            <a class="btn" href="/naturePackages">Nature Packages</a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="img-class myAlign">
                            <a href="/premiumPackages">
                                <img class="widthadj" src="assets/img/premium.jpg" width="300px" height="175px">
                            </a>
                            <a class="btn" href="/premiumPackages">Premium Packages</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- services section -->

    <section id="servicesID">
        <div class="services-class">
            <div class="container">

                <div class="data myAlign wow zoomIn">
                    <h1 class="titleClass"><span style="color: rgb(255, 217, 0);">Our</span> Services</h1>
                </div>

                <div class="row wow fadeInUp">

                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign">
                            <i class="fa-solid fa-heart fa-4x widthadj2" style="color:rgb(255, 217, 0);"></i>
                            <p>We Care For You</p>
                        </div>
                    </div>
                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign">
                            <!-- <span class="material-symbols-outlined"></span> -->
                            <i class="fa-solid fa-ice-cream fa-4x widthadj2" style="color:rgb(255, 217, 0);"></i>
                            <!-- <i class="fa-solid fa-pot-food"></i> -->
                            <p class="mt-2">Food</p>
                        </div>
                    </div>

                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign">
                            <i class="fa-solid fa-hotel fa-4x widthadj2" style="color:rgb(255, 217, 0);"></i>
                            <p>Accommodation</p>
                        </div>
                    </div>

                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign">
                            <i class="fa-solid fa-circle-info fa-4x widthadj2" style="color:rgb(255, 217, 0);"></i>
                            <p>Guide</p>
                        </div>
                    </div>
                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign">
                            <i class="fa-solid fa-bus fa-4x widthadj2" style="color:rgb(255, 217, 0);"></i>
                            <p>Comfort travelling</p>
                        </div>
                    </div>

                    <div class="col-lg-4 myCenter">
                        <div class="img-class myAlign">
                            <i class="fa-solid fa-thumbs-up fa-4x widthadj2" style="color:rgb(255, 217, 0);"></i>
                            <p>Quality Assured</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <%- include('footer.ejs') %>